$primary-color: #f7f4f6;
$secondary-color: #ff9300;
$opacity-color: #fff4e5;

*{
  margin: 0px;
  padding: 0px;
  font-family: 'Open Sans', sans-serif;
  box-sizing: border-box;
}

a{
  color: inherit;
  font-style: none;
  text-decoration: none;
}

